*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw; 
    height: 100vh;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 100%;
    width: 100%;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: url('./images/dogriver.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.searchBar{
    height: 30%;
    width: 100%;
    z-index: 1;
    color: aliceblue;
    font-size: 5rem;
}
#searchBar{
    width: 20%;
    height: 20%;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgba(221, 209, 209, 0.432);
    outline: none;

}
.mainPage{
    height: 100%;
    width: 100%;
    background-image: url('./images/city1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
}
.btn{
    width: 10%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.637);
    outline: none;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.page{
    width: 80%;  
    height: 13%;
    font-size: 2rem;
    background-color: rgba(238, 232, 221, 0.699);
    font-weight: 600;
    padding: 0 3px 0 3px;

}
.cityName{
    text-align: center;
    color: rgb(60, 85, 9);
    font-weight: 600;
    font-size: 3rem;

}
.error{
    color: red;
    text-align: center;

}
.reSearch{
    text-align: center;
    cursor: pointer;
}
.reSearch:hover{
    color: rgb(76, 88, 51);
}


